.Titulo{
    color:black;
    background: cadetblue;
}
.Subtitulo1{
    color: black;
    background: burlywood;
}
.Subtitulo2{
    color: black;
    background: darkgray;
}
.Subtitulo3{
    color:black;
    background: darkgray;
}
.Subtitulo4{
    color:black;
    background: darkgray;
}
/* ---------------------------------------------------*/
#texto1{
    background: azure;
    font-family: Arial, Helvetica, sans-serif;
}
#texto2{
    color: dimgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*---------------------------------------------------------------------------------------*/
#tabela1{
    background: azure;
}


#tabela2{
    background: azure;
}